<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="login.css"> <!-- Link para o arquivo de estilo externo -->
    <title>Recuperar Senha</title>
</head>
<body>
    <div class="page">
        <div class="formLogin">
            <h1>Recuperar Senha</h1> <!-- Título da página -->
            <p>Digite seu e-mail para receber as instruções de recuperação de senha.</p> <!-- Instruções para o usuário -->
            <label for="email">E-mail:</label> <!-- Rótulo para o campo de e-mail -->
            <input type="email" id="email" name="email" placeholder="Digite seu e-mail" required /> <!-- Campo de entrada para o e-mail -->
            <input type="submit" value="Enviar" class="btn" id="btn-env"/> <!-- Botão de envio do formulário -->
            <p>Voltar para <a href="/login">Login</a></p> <!-- Link para retornar à página de login -->
        </div>
        <div id="loading" style="display:none;">Carregando...</div> <!-- Elemento de carregamento -->
    </div>

    <script>
        document.getElementById("btn-env").addEventListener("click", function (){
            const email = document.getElementById('email').value;
        
            fetch('/recoverPassword', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ email })
            })
            .then(response => {
                if (response.ok) {
                    alert("E-mail de recuperação enviado com sucesso");
                } else {
                    throw new Error('Erro ao enviar e-mail de recuperação');
                }
            })
            .catch(error => {
                console.error(error);
                alert(error.message);
            });
        
        });
    </script>

    <style>
        /* Estilos CSS internos */
        body {
            font-family: 'Inter', sans-serif; /* Fonte principal */
            margin: 0;
            padding: 0;
            color: #023047; /* Cor do texto principal */
        }

        .page {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100vh;
            background-color: #79955D; /* Cor de fundo da página */
        }

        .formLogin {
            display: flex;
            flex-direction: column;
            background-color: #fff; /* Cor de fundo do formulário */
            border-radius: 7px; /* Borda arredondada */
            padding: 40px;
            box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.4); /* Sombra do formulário */
            gap: 5px; /* Espaçamento entre elementos internos do formulário */
        }

        .formLogin h1 {
            margin: 0;
            font-weight: 500;
            font-size: 2.3em; /* Tamanho do título do formulário */
        }

        .formLogin p {
            font-size: 14px;
            color: black;
            margin-bottom: 20px; /* Espaçamento inferior do parágrafo */
        }

        .formLogin label {
            font-size: 14px;
            font-weight: 600;
        }

        .formLogin input {
            padding: 15px;
            font-size: 14px;
            border: 1px solid #ccc;
            margin-bottom: 20px; /* Espaçamento inferior do campo de entrada */
            border-radius: 4px;
            transition: all linear 160ms; /* Transição suave */
            outline: none;
        }

        .formLogin input:focus {
            border: 1px solid #f72585; /* Cor da borda ao focar no campo */
        }

        .formLogin a {
            font-size: 13px;
            color: #555;
            transition: all linear 160ms;
        }

        .formLogin a:hover {
            color: #f72585; /* Cor do link ao passar o mouse */
        }

        .btn {
            background-color: black; /* Cor de fundo do botão */
            color: #fff; /* Cor do texto do botão */
            font-size: 14px;
            font-weight: 600;
            border: none;
            transition: all linear 160ms; /* Transição suave */
            cursor: pointer;
            margin: 0;
        }

        .btn:hover {
            transform: scale(1.05); /* Efeito de escala ao passar o mouse */
            background-color: #79955D; /* Cor de fundo ao passar o mouse */
        }
    </style>


    
</body>
</html>
